body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

/* Container หลัก แบ่งซ้าย-ขวา */
#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Panel ซ้าย */
#leftPanel {
  flex: 1 1 500px;
  max-width: 600px;
}

/* Panel ขวา */
#rightPanel {
  flex : 1;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

#heatmapContainer {
  width: 600px;               /* กำหนดขนาดกรอบให้เท่าภาพ */
  height: 600px;
  position: relative;
  border: 1px solid #ccc;
  background-image: url('body.jpg');   /* อย่าลืมเปลี่ยนชื่อถ้าใช้ชื่ออื่น */
  background-repeat: no-repeat;
  background-size: 100% 100%;          /* ทำให้ภาพพอดีกับ container */
  background-position: center center;
}

#heatmapCanvas, #backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Tooltip */
#tooltip {
  z-index: 1000;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  pointer-events: none;
  font-size: 14px;
}

/* ค่าของ sensor */
.sensor-value {
  padding: 10px;
  margin: 5px 0;
  background-color: #eee;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

/* Legend */
.legend {
  margin-top: 20px;
  text-align: center;
}

.legend-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  border: 1px solid #000;
}

/* Chart */
#pressureChart {
  width: 100%;
  max-width: 1200px;
  height: 400px;
}

#chartsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  margin: 0 auto;
}

#chartsContainer canvas {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100% !important;
  height: 300px !important;
}

#rightPanel canvas {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#chartsContainer > div {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


