body {
  font-family: sans-serif;
  background: #f0f0f0;
  text-align: center;
}
  
#heatmapContainer {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 2px solid #ccc;
  background-image: url('body.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
  
.legend {
  margin-top: 20px;
  text-align: center;
}

.legend-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 8px
}

#tooltip {
  z-index: 1000;
}
